* {
  margin: 0;
  padding: 0;
}

.movielist-section {
margin: 2rem 0;

}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  height: 10vh;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}
ul {
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
gap: 2rem;
text-align: center;
list-style-type: none;


}
img {
  height: 30rem;
}
.movie-heading {
text-align: center;
font-size: 3rem;
margin: 2rem 0;

}

li {
width: 100%;
border: 1px solid black;
padding: 0.5rem;


}

.movie-title {
width: 15rem;
margin: auto;
}


footer {
  height: 10vh;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.movie-details {
  display: flex;
  height: 80vh;
  width: 100%;
}

.left-column {
  width: 30%;
  background-color: #f0f0f0;
}

.right-column-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  gap: 2rem;
  margin: 0 2rem;
  font-size: 1.4rem;
}

.right-column {
  flex: 1;
}
.movie-title-details span {
  font-weight: bold;
  margin-right: 1rem;
}
.movie-details-description span {
  font-weight: bold;
  margin-right: 1rem;
}
button {
  background-color: red;
  color: white;
  padding: 1rem;
  width: fit-content;
  border: none;
  font-size: 1.4rem;
  border-radius: 1rem;
}

a {
text-decoration: none;
color: black;

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  ul {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px)  {
  ul {
    grid-template-columns: auto;
  }
}






